In [15]:
import pandas as pd 

df = pd.read_csv("../data/raw/AEP_hourly.csv") #American Electric Power (AEP) estimated energy consumption in Megawatts (MW)
df.head()

              Datetime   AEP_MW
0  2004-12-31 01:00:00  13478.0
1  2004-12-31 02:00:00  12865.0
2  2004-12-31 03:00:00  12577.0
3  2004-12-31 04:00:00  12517.0
4  2004-12-31 05:00:00  12670.0

In [18]:
df.columns.tolist()

['Datetime', 'AEP_MW']